* {
    font-family: Arial;
}

.codex-editor__redactor {
    padding: 0 !important;
    padding-bottom: 2rem !important;
}

.ce-block__content {
    margin: 0 2rem;
    max-width: none;
}

.codex-editor {
    margin-top: 0;
    text-align: left;
    max-height: 80vh;
    overflow-y: scroll;
}

.ce-toolbar__actions {
    background-color: red;
}

.ce-settings {
    min-width: 0;
}

.ce-toolbar__plus {
    left: -25px;
}

.ce-toolbar {
    right: auto;
    left: 25px;
}

.ce-toolbox {
    background-color: white;
}

.ant-layout-has-sider {
    background-color: transparent !important;
}